{% extends 'inventory/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-11 col-md-5 mx-auto mt-5 px-4">
            <h1 class="fw-light">Inventory Tracking and Management</h1>
            <p class="fw-light">Receive real-time alerts for low stock and keep your inventory in check.
            </p>
            <div>
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Get Started Now!</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}